@font-face {
  font-family: LemonMilk;
  src: url("@/assets/fonts/LemonMilkLight.otf");
}

:root {
  --background-color: #e3dfd2;
  --accent-color: #8ec07c;
  --text-color: black;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: LemonMilk;
}

