@font-face {
  font-family: LemonMilk;
  src: url("@/assets/fonts/LemonMilkLight.otf");
}
@font-face {
  font-family: HighwayGothic;
  src: url("@/assets/fonts/HWYGNRRW.TTF");
}

:root {
  --background-dark-color: #222;
  --background-light-color: white;
  --background-color: var(--background-light-color);

  --accent-color: #8ec07c;

  // text
  --text-dark-theme: white;
  --text-light-theme: black;
  --text-color: var(--text-light-theme);

  --fs-title: 3rem;
  --fs-text: 1.2rem;
}

@media (max-width: 800px) {
  :root {
    --fs-title: 11vw;
    --fs-text: 1rem;
  }
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-color);
  margin: 0;
}


